:root {
    --accent-color: rgb(236, 48, 48);
    --accent-dark-color: rgb(197, 72, 72);
    --font-color:white;
    --bg-color: slategray;
}

body {
    background-color: slategray;
    font-family:garamond, serif;
    color: var(--font-color)
}

main {
    background-color: var(--bg-color);
    margin: 0;
    padding: 5px 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header {
    padding: 5px 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
}

h1 {
    color: var(--accent-color);
    font-size: 3rem;
    margin: 10px 10px;
    text-shadow: 2px 3px 3px rgb(51, 15, 51);
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(49, 46, 46);
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    position: sticky;
}

nav li a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--font-color);
    text-transform: uppercase;
}

nav li a:hover {
    color: white;
    background-color: var(--accent-dark-color);
}

details {
    text-decoration: underline;
}

div.dice {
width: 100px;
height: 100px;
background-color: blue;
position: relative;
animation-name: roll;
animation-duration: 2s;
animation-iteration-count: infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        background: blue;
    }
    33% {
        transform: rotate(90deg);
        background: red;
    }
    66% {
        transform: rotate(180deg);
        background: orange;
    }
    100% {
        transform: rotate(270deg);
        background: blue;
    }
}